<main>
  <section class="container login ff-inter">

    <header class="header">
      <div class="cabecalho">
        <h2>Bem Vindo, {{ usuario.nome }}</h2>
        <input type="date" name="data">
        <div class="fotoPerfil d-flex align-items-center justify-content-center">
          <a routerLink="/perfil"><img src="../../assets/do-utilizador.png" alt="Perfil"></a>
        </div>
        <a routerLink="/login"><img class="exit" src="../../../assets/images/sair.png" alt="Sair"></a>
      </div>
    </header>


    <ul id="anamnese">
      <li>
        <h3>{{ paciente[0].nome }}</h3>
        <p class="pri">{{ paciente[0].prioridade }}</p>
        <p class="obs">{{ paciente[0].observacao }}</p>
      </li>
      <li>
        <h3>{{ paciente[1].nome }}</h3>
        <p class="pri">{{ paciente[1].prioridade }}</p>
        <p class="obs">{{ paciente[1].observacao }}</p>
      </li>
      <li>
        <h3>{{ paciente[2].nome }}</h3>
        <p class="pri">{{ paciente[2].prioridade }}</p>
        <p class="obs">{{ paciente[2].observacao }}</p>
      </li>
    </ul>

    <div class="acoes">
      <button routerLink="/home/ficha/identificacao-paciente" class="botao">+</button>
    </div>

  </section>

</main>
