<div class="main">
  <div class="container">
    <div class="header">
      <div class="cabecalho">
        <h2>Bem vinda(o), {{ usuario.nome }}!</h2>

        <div class="botoesHeader d-flex flex-row justify-content-around align-items-center">
          <!-- DATA -->
          <input type="date" name="data" [(ngModel)]="data" (keyup.enter)="filtrarPorData(data)">

          <!-- PERFIL LINK -->
          <div class="fotoPerfil d-flex align-items-center justify-content-center">
            <a routerLink="/perfil"><img src="../../assets/do-utilizador.png" alt="Perfil"></a>
          </div>

          <!-- SAIR -->
          <div class="iconeSair">
            <a routerLink="/login"><img class="exit" src="../../../assets/images/sair.png" alt="Sair"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- FICHAS DISPONÍVEIS -->
    <ul id="anamnese">
      <li *ngFor="let paciente of pacientes">
        <div class="nomeData d-flex flex-row justify-content-between">
          <h3>{{ paciente.nome }}</h3>
          <p>{{ paciente.data | date: 'dd/MM/yyyy' }}</p>
        </div>

        <p class="pri">{{ paciente.prioridade }}</p>
        <p class="obs">{{ paciente.observacao }}</p>
      </li>
    </ul>

    <div class="btns">
      <button (click)="adicionarFicha()" class="btn botao">+</button>
    </div>
  </div>
</div>
