$color_1: #5c0505;
$color_2: #b83838;
$background-color_1: #ffd6d6;
$white: #ffff;

.cabecalho {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 10px;

  .fotoPerfil {
    background-color: $white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;

    & img {
      width: 40px;
      height: 40px;
    }
  }

  .botoesHeader {
    gap: 20px;
  }
}
main {
	background: url(/assets/images/background.png);
	background-size: cover;
	min-height: 86vh;
}
.exit {
	max-width: 35px;
	max-height: 35px;
}
input {
	background: #b87676;
	border: none;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	padding: 1rem;
}
img {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

#anamnese {
  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  & li {
    align-items: center;
    background-color: $background-color_1;
    border-radius: 8px;
    padding: 18px 26px;
    box-shadow: 0 20px 36px -16px rgba(0, 0, 0, 0.1);
    margin-top: 4px;
    list-style: none;
  }
  & h3 {
    font-size: 24px;
    color: $color_1;
  }
  & p {
    font-size: 17px;
    color: $color_2;
    margin-top: 2px;
  }
}

.acoes {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.botao {
	border-radius: 25px;
	width: 65px;
  height: 60px;
	border: none;
  font-size: 25px;

	&:hover {
		background-color: $background-color_1;
	}
}
