<app-header></app-header>
<div class="main">
    <div class="cadastro d-flex flex-column align-items-center">
        <header class="header">
            <h2>{{string}}</h2>
        </header>
        <form
          #cadastro="ngForm"
          class="criarCadastro"
          (ngSubmit)="cadastrar()">
            <label for="nome">Nome</label>
            <input type="text" class="input" id="nome" name="nome" placeholder="Digite seu nome completo">

            <label for="nome">Área de Atuação</label>
            <select class="minimal" [value]="areaAtuacao" name="seletor" (change)="onAreaChange(getArea($event))">
              <option value="profissionalSaude" selected>Profissional de Saúde</option>
              <option value="paramedico">Paramédico(a)</option>
            </select>

            <label for="doc">CRM\COREN\DRF</label>
            <input type="text" class="input" id="doc" name="doc" placeholder="Informe seu documento de trabalho">

            <label for="cpf">CPF</label>
            <input type="number" class="input" id="cpf" name="cpf" placeholder="Informe seu CPF">

            <label for="unidadeAtendimento">Unidade de Atendimento</label>
            <input type="text" class="input" id="unidadeAtendimento" name="unidadeAtendimento"
                placeholder="Qual sua unidade de atendimento?">

            <label for="celular">Celular</label>
            <input type="tel" class="input" id="celular" name="celular" placeholder="Informe seu celular">

            <label for="senha">Senha</label>
            <input type="password" class="input" id="senha" name="senha" placeholder="Digite sua senha">

            <label for="confirmaSenha">Senha</label>
            <input type="password" class="input" id="confirmaSenha" name="confirmaSenha"
                placeholder="Confirme sua senha">

            <div class="btns">
              <button type="submit" class="botao">CADASTRAR</button>
            </div>
        </form>
    </div>
</div>
