<app-header [ids]="['login', 'mais-infos']"[signOptions]="['FAZER LOGIN', 'MAIS INFORMAÇÕES']" [signPaths]="['/login', '/mais-infos']"></app-header>

<div class="cadastroContainer d-flex flex-column align-items-center justify-content-center">
  <!-- TITULO -->
  <div class="titulo d-flex justify-content-center m-2">
    <h2>{{string}}</h2>
  </div>

  <!-- FORMULÁRIO -->
  <div class="cadastroInfosContainer d-flex flex-column align-items-center align-content-center justify-content-center">
    <div class="d-flex flex-column align-items-start">
      <form
        #cadastro="ngForm"
        class="criarCadastroForm d-flex flex-column align-items-center"
        (ngSubmit)="cadastrar()">

        <!-- NOME COMPLETO -->
        <div class="d-flex flex-column">
          <label for="nome">Nome Completo</label>
          <input [(ngModel)]="nome_completo" type="text" class="input" id="nome" name="nomeCompleto" placeholder="Digite seu nome completo">
        </div>

        <!-- ÁREA DE ATUAÇÃO -->
        <div class="d-flex flex-column">
          <label for="nome">Área de Atuação</label>
          <select [(ngModel)]="areaAtuacao" class="minimal" id="areaAtuacao" [value]="areaAtuacao" name="areaAtuacao" (change)="onAreaChange(getArea($event))">
            <option value="CRM" selected>Médico(a)</option>
            <option value="COREN">Enfermeiro(a)</option>
            <option value="DRF">Paramédico(a)</option>
          </select>
        </div>

        <!-- DOCUMENTO DE TRABALHO -->
        <div class="d-flex flex-column">
          <label for="doc">Documento de Trabalho</label>
          <input [(ngModel)]="doc" type="text" class="input" id="doc" name="doc" placeholder="Informe seu documento de trabalho">
        </div>

        <!-- CPF -->
        <div class="d-flex flex-column">
          <label for="cpf">CPF</label>
          <input [(ngModel)]="cpf" type="text" class="input" id="cpf" name="cpf" placeholder="Informe seu CPF">
        </div>

        <!-- UNIDADE DE ATENDIMENTO -->
        <div class="d-flex flex-column">
          <label for="unidadeAtendimento">Unidade de Atendimento</label>
          <input
            [(ngModel)]="unidade_atendimento"
            type="text"
            class="input"
            id="unidadeAtendimento"
            name="unidadeAtendimento"
            placeholder="Qual sua unidade de atendimento?">
        </div>

        <!-- CELULAR -->
        <div class="d-flex flex-column">
          <label for="celular">Celular</label>
          <input [(ngModel)]="celular" type="tel" class="input" id="celular" name="celular" placeholder="Informe seu celular">
        </div>

        <!-- SENHA -->
        <div class="d-flex flex-column">
          <label for="senha">Senha</label>
          <input [(ngModel)]="password" type="password" class="input" id="senha" name="senha" placeholder="Digite sua senha">
        </div>

        <!-- CONFIRMAÇÃO SENHA -->
        <div class="d-flex flex-column">
          <label for="confirmaSenha">Confirmar Senha</label>
          <input [(ngModel)]="confirmar_senha" type="password" class="input" id="confirmaSenha" name="confirmaSenha" placeholder="Confirme sua senha">
        </div>

        <!-- BOTÃO -->
        <div class="btns">
          <button type="submit" class="botao">CADASTRAR</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
