$white: white;
$dark-red: #5c0505;
$light-red: #b87676;

.cadastroContainer {
  background: url(/assets/images/background.png);
	background-size: cover;
	min-height: 65vh;
  padding: 2rem 0;

  .cadastroInfosContainer {

    .criarCadastroForm {
      width: 30vw;
      height: 98vh;
      background: $light-red;
      border: none;
      border-radius: 20px;
      padding: 1rem;

      & label {
        font-size: 18px;
        color: $dark-red;
        font-weight: bold;
        margin: 0 0 0.5rem;
      }

      & select {
        width: 34em;
        height: 2.5em;
        background-color: $white;
        border: none;
        border-radius: 20px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;
        cursor: pointer;
        margin-bottom: 1rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;

        .minimal {
          background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
          background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
          background-size: 5px 5px, 5px 5px, 1px 1.5em;
          background-repeat: no-repeat;
          &:focus {
            background-image: linear-gradient(45deg, #680909 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #680909 50%), linear-gradient(to right, #ccc, #ccc);
            background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
            background-size: 5px 5px, 5px 5px, 1px 1.5em;
            background-repeat: no-repeat;
            border-color: $dark-red;
            outline: 0;
          }
        }
      }

      & input {
        border: none;
        width: 30em;
        height: 2.3em;
        font-size: 18px;
        padding: 1rem 2rem;
        border-radius: 20px;
        margin: 0.5rem 0 1rem;
      }

      .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .botao {
          margin-top: 10px;
          width: 200px;
          border: none;
          padding: 1rem;
          background-color: $dark-red;
          color: $white;

          &:hover {
            background-color: $white;
            color: $dark-red;
            font-weight: bold;
          }
        }
      }
    }
  }
}
