.btnProximo, .btnAnterior, .btnAssinarEnviar, .btnEnviar, .btnCancelar {
  background-color: #5c0505;
  color: white;
  border-style: none;
  border-radius: 20px;
}
.btnProximo:hover, .btnAnterior:hover, .btnAssinarEnviar:hover, .btnEnviar:hover, .btnCancelar:hover {
  background-color: white;
  color: #5c0505;
  font-weight: bold;
}

.btnAssinarEnviar, .btnEnviar, .btnCancelar {
  width: 200px;
  height: 50px;
}

.btnProximo, .btnAnterior {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1025px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosGerais {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    font-weight: bold;
    width: 35vw;
    height: 80vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosGerais h3 {
    font-weight: bold;
  }
  .main .dadosGerais .loc {
    width: 18em;
    border-radius: 20px;
  }
  .main .dadosGerais .nomeParamedico, .main .dadosGerais .docTrabalho {
    font-size: 18px;
  }
  .main .dadosGerais .nomeParamedico input, .main .dadosGerais .docTrabalho input {
    width: 30em;
    border-radius: 20px;
  }
  .main .dadosGerais .nomeParamedico p, .main .dadosGerais .docTrabalho p {
    font-size: 18px;
    color: black;
  }
  .main .dadosGerais .btns {
    width: 27.5vw;
    font-size: 18px;
    margin-top: 40px;
  }
  .main .dadosGerais .btns .btnAssinarEnviar, .main .dadosGerais .btns .btnEnviar, .main .dadosGerais .btns .btnCancelar {
    border-radius: 20px;
  }
  .main .modalContainer {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .modalContainer .modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    width: 30em;
    height: 10em;
  }
  .main .modalContainer .modal h3 {
    color: #5c0505;
  }
  .main .modalContainer .modal .btns {
    gap: 20px;
  }
  .main .modalContainer .modal .btns button {
    color: white;
    background-color: #5c0505;
  }
  .main .modalContainer .modal .btns button:hover {
    background-color: #b87676;
    color: #5c0505;
    font-weight: bold;
  }
}
@media (max-width: 1024px) and (min-width: 481px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosGerais {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    font-weight: bold;
    width: 70vw;
    height: 80vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosGerais h3 {
    font-weight: bold;
  }
  .main .dadosGerais .loc {
    width: 18em;
    border-radius: 20px;
  }
  .main .dadosGerais .nomeParamedico, .main .dadosGerais .docTrabalho {
    font-size: 18px;
  }
  .main .dadosGerais .nomeParamedico p, .main .dadosGerais .docTrabalho p {
    font-size: 18px;
    color: black;
  }
  .main .dadosGerais .btns {
    width: 50vw;
    font-size: 18px;
    margin-top: 40px;
    gap: 20px;
  }
  .main .dadosGerais .btns .btnAssinarEnviar, .main .dadosGerais .btns .btnEnviar, .main .dadosGerais .btns .btnCancelar {
    border-radius: 20px;
  }
  .main .modalContainer {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .modalContainer .modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    width: 30em;
    height: 10em;
  }
  .main .modalContainer .modal h3 {
    color: #5c0505;
  }
  .main .modalContainer .modal .btns {
    gap: 20px;
  }
  .main .modalContainer .modal .btns button {
    color: white;
    background-color: #5c0505;
  }
  .main .modalContainer .modal .btns button:hover {
    background-color: #b87676;
    color: #5c0505;
    font-weight: bold;
  }
}
@media (max-width: 480px) and (min-width: 0px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosGerais {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    font-weight: bold;
    width: 90vw;
    height: 90vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosGerais h3 {
    font-weight: bold;
  }
  .main .dadosGerais .loc {
    width: 18em;
    border-radius: 20px;
  }
  .main .dadosGerais .nomeParamedico, .main .dadosGerais .docTrabalho {
    font-size: 18px;
  }
  .main .dadosGerais .nomeParamedico p, .main .dadosGerais .docTrabalho p {
    font-size: 18px;
    color: black;
  }
  .main .dadosGerais .btns {
    width: 50vw;
    font-size: 18px;
    margin-top: 40px;
    gap: 20px;
  }
  .main .dadosGerais .btns .btnAssinarEnviar, .main .dadosGerais .btns .btnEnviar, .main .dadosGerais .btns .btnCancelar {
    border-radius: 20px;
  }
  .main .modalContainer {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .modalContainer .modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    width: 30em;
    height: 10em;
  }
  .main .modalContainer .modal h3 {
    color: #5c0505;
  }
  .main .modalContainer .modal .btns {
    gap: 20px;
  }
  .main .modalContainer .modal .btns button {
    color: white;
    background-color: #5c0505;
  }
  .main .modalContainer .modal .btns button:hover {
    background-color: #b87676;
    color: #5c0505;
    font-weight: bold;
  }
}/*# sourceMappingURL=dados-gerais-form.component.css.map */