@import '../../../assets/variables';

.btnProximo, .btnAnterior, .btnAssinar, .btnEnviar, .btnCancelar {
  background-color: $dark-red;
  color: $white;
  border-style: none;
  border-radius: 20px;
}

.btnProximo, .btnAnterior, .btnAssinar {
  &:hover {
    background-color: $white;
    color: $dark-red;
    font-weight: bold;
  }
}

.btnEnviar, .btnCancelar {
  &:hover {
    background-color: $light-red;
    color: $dark-red;
    font-weight: bold;
  }

  &:focus, &:focus-visible, &:focus-within {
    background-color: $light-red;
    color: $dark-red;
    outline: 0;
  }
}

.btnAssinar, .btnEnviar, .btnCancelar  {
  width: 200px;
  height: 50px;
}

.btnProximo, .btnAnterior {
  width: 50px;
  height: 50px;
}


@media screen and (min-width:1024px) {
  .main {
    border-radius: 20px;
    min-height: 85vh;

    .dadosGerais {
      background-color: $light-red;
      color: $dark-red;
      border-radius: 20px;
      font-weight: bold;

      //Spacing
      width: 28vw;
      height: 65vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .nomeParamedico, .docTrabalho {
        font-size: 18px;

        & input {
          width: 30em;
          border-radius: 20px;
        }

        & p {
          font-size: 18px;
          color: $black;
        }
      }

      .dataEnd {
        text-align: end;
        font-size: 15px;
        font-weight: bold;

        .loc {
          width: 18em;
          border-radius: 20px;
        }
      }

      .btns {
        width: 20vw;
        font-size: 18px;
        margin-top: 20px;

        .btnAssinar, .btnEnviar, .btnCancelar {
          border-radius: 20px;
        }
      }

    }
    .modalContainer {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .modal {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        background-color: $white;
        border-radius: 20px;
        width: 30em;
        height: 10em;

        & h3 {
          color: $dark-red;
        }

        .btns {
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (min-width:1024px) and (max-height: 700px) {
  .main {
    border-radius: 20px;
    min-height: 85vh;

    .dadosGerais {
      background-color: $light-red;
      color: $dark-red;
      border-radius: 20px;
      font-weight: bold;

      //Spacing
      width: 35vw;
      height: 80vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .nomeParamedico, .docTrabalho {
        font-size: 18px;

        & input {
          width: 30em;
          border-radius: 20px;
        }

        & p {
          font-size: 18px;
          color: $black;
        }
      }

      .dataEnd {
        text-align: end;
        font-size: 15px;
        font-weight: bold;

        .loc {
          width: 18em;
          border-radius: 20px;
        }
      }

      .btns {
        width: 30vw;
        font-size: 18px;
        margin-top: 20px;

        .btnAssinar, .btnEnviar, .btnCancelar {
          border-radius: 20px;
        }
      }

    }
    .modalContainer {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .modal {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        background-color: $white;
        border-radius: 20px;
        width: 30em;
        height: 10em;

        & h3 {
          color: $dark-red;
        }

        .btns {
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 1023px) and (min-width: 481px) {
  .main {
    border-radius: 20px;

    .dadosGerais {
      background-color: $light-red;
      color: $dark-red;
      border-radius: 20px;
      font-weight: bold;

      //Spacing
      width: 55vw;
      height: 45vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .nomeParamedico, .docTrabalho {
        font-size: 18px;

        & p {
          font-size: 18px;
          color: $black;
        }
      }

      .dataEnd {
        text-align: end;
        font-size: 15px;
        font-weight: bold;

        .loc {
          width: 18em;
          border-radius: 20px;
        }
      }

      .btns {
        width: 50vw;
        font-size: 18px;
        margin-top: 20px;
        gap: 20px;

        .btnAssinar, .btnEnviar, .btnCancelar {
          border-radius: 20px;
        }
      }

    }
    .modalContainer {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .modal {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        background-color: $white;
        border-radius: 20px;
        width: 30em;
        height: 10em;

        & h3 {
          color: $dark-red;
        }

        .btns {
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) and (min-width: 481px) and (max-height: 1023px) and (min-height: 0px) {
  .main {
    border-radius: 20px;

    .dadosGerais {
      background-color: $light-red;
      color: $dark-red;
      border-radius: 20px;
      font-weight: bold;

      //Spacing
      width: 70vw;
      height: 70vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .nomeParamedico, .docTrabalho {
        font-size: 18px;

        & p {
          font-size: 18px;
          color: $black;
        }
      }

      .dataEnd {
        text-align: end;
        font-size: 15px;
        font-weight: bold;

        .loc {
          width: 18em;
          border-radius: 20px;
        }
      }

      .btns {
        width: 65vw;
        font-size: 18px;
        margin-top: 20px;
        gap: 20px;

        .btnAssinar, .btnEnviar, .btnCancelar {
          border-radius: 20px;
        }
      }

    }
    .modalContainer {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .modal {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        background-color: $white;
        border-radius: 20px;
        width: 30em;
        height: 10em;

        & h3 {
          color: $dark-red;
        }

        .btns {
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 801px) and (max-height: 1023px) and (min-height: 0px) {
  .main {
    border-radius: 20px;

    .dadosGerais {
      background-color: $light-red;
      color: $dark-red;
      border-radius: 20px;
      font-weight: bold;

      //Spacing
      width: 35vw;
      height: 70vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .nomeParamedico, .docTrabalho {
        font-size: 18px;

        & p {
          font-size: 18px;
          color: $black;
        }
      }

      .dataEnd {
        text-align: end;
        font-size: 15px;
        font-weight: bold;

        .loc {
          width: 18em;
          border-radius: 20px;
        }
      }

      .btns {
        width: 30vw;
        font-size: 18px;
        margin-top: 20px;
        gap: 20px;

        .btnAssinar, .btnEnviar, .btnCancelar {
          border-radius: 20px;
        }
      }

    }
    .modalContainer {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .modal {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        background-color: $white;
        border-radius: 20px;
        width: 25em;
        height: 10em;

        & h3 {
          color: $dark-red;
        }

        .btns {
          width: 30vw;
          font-size: 18px;
          margin-top: 20px;
          gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 480px) and (min-width: 0px) {
  .main {
    border-radius: 20px;

    .dadosGerais {
      background-color: $light-red;
      color: $dark-red;
      border-radius: 20px;
      font-weight: bold;

      //Spacing
      width: 90vw;
      height: 60vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .nomeParamedico, .docTrabalho {
        font-size: 18px;

        & p {
          font-size: 18px;
          color: $black;
        }
      }

      .dataEnd {
        text-align: end;
        font-size: 15px;
        font-weight: bold;

        .loc {
          width: 18em;
          border-radius: 20px;
        }
      }

      .btns {
        width: 85vw;
        font-size: 18px;
        margin-top: 20px;
        gap: 20px;

        .btnAssinar, .btnEnviar, .btnCancelar {
          border-radius: 20px;
        }
      }

    }

    .modalContainer {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .modal {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        background-color: $white;
        border-radius: 20px;
        width: 20em;
        height: 10em;

        & h3 {
          color: $dark-red;
        }

        .btns {
          width: 50vw;
          font-size: 18px;
          margin-top: 20px;
          gap: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) and (min-width: 0px) and (max-height: 740px) and (min-height: 0px) {
  .main {
    border-radius: 20px;

    .dadosGerais {
      background-color: $light-red;
      color: $dark-red;
      border-radius: 20px;
      font-weight: bold;

      //Spacing
      width: 90vw;
      height: 75vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & h3 {
        font-weight: bold;
        text-align: center;
        width: 7em;
      }

      .nomeParamedico, .docTrabalho {
        font-size: 18px;

        & label {
          width: 12em;
        }

        & p {
          font-size: 18px;
          color: $black;
        }
      }

      .dataEnd {
        text-align: end;
        font-size: 15px;
        font-weight: bold;

        .loc {
          width: 15em;
          border-radius: 20px;
        }
      }

      .btns {
        width: 80vw;
        font-size: 18px;
        margin-top: 20px;
        gap: 20px;

        .btnAssinar {
          width: 120px;
          height: 50px;
          border-radius: 20px;
        }

        .btnEnviar, .btnCancelar {
          border-radius: 20px;
        }
      }
    }

    .modalContainer {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .modal {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        background-color: $white;
        border-radius: 20px;
        width: 17em;
        height: 10em;

        & h3 {
          color: $dark-red;
        }

        .btns {
          width: 50vw;
          font-size: 18px;
          margin-top: 20px;
          gap: 20px;
        }
      }
    }
  }
}
