<div class="container d-flex flex-column align-items-center justify-content-between">
  <div class="main">
    <form
      #dadosAtendimentoParte2="ngForm"
      class="dadosAtendimento d-flex flex-column justify-content-center align-content-center align-items-center"
      (ngSubmit)="onSubmit(dadosAtendimentoParte2)">
      <h3>Dados para Atendimento</h3>

      <div class="d-flex flex-column align-items-center">
        <!-- SINTOMAS -->
        <div class="sintomas d-flex flex-column mt-2">
          <label for="sintomas">Sintomas/Queixas</label>
          <textarea ngModel id="sintomas" class="form-control" name="sintomas" type="text" [(ngModel)]="sintomas" placeholder="Descreva os sintomas/queixas observados(as)"></textarea>
        </div>

        <div class="smallFields d-flex flex-row justify-content-around">
          <!-- NÍVEL DE DOR -->
          <div class="nivelDor d-flex flex-column mt-2">
            <label for="nivelDor">Nível de Dor</label>
            <input
              ngModel
              id="nivelDor"
              class="form-control"
              name="nivelDor"
              type="number"
              [(ngModel)]="nivelDor"
              placeholder="1-10"
              min="1"
              max="10">
          </div>

          <!-- PRIORIDADE -->
          <div class="prioridade d-flex flex-column align-itens-center mt-2">
            <p>Prioridade</p>
            <select ngModel id="prioridade" class="btn form-select" [(ngModel)]="prioridade" name="prioridade" (change)="onPrioridadeChange(getPrioridade($event))">
              <option value="nao-urgente">Não Urgente</option>
              <option value="pouco-urgente">Pouco Urgente</option>
              <option value="urgente">Urgente</option>
              <option value="emergencia">Emergência</option>
            </select>
          </div>
        </div>

        <!-- OBSERVAÇÕES -->
        <div class="observacoes d-flex flex-column mt-2">
          <label for="observacoes">Observações</label>
          <textarea ngModel id="observacoes" class="form-control" name="observacoes" [(ngModel)]="observacoes" placeholder="Digite as observações necessárias"></textarea>
        </div>

        <!-- BOTÕES -->
        <div class="btns d-flex flex-row justify-content-around">
          <button class="btnAnterior btn rounded-circle" type="submit" (click)="botaoVoltar()"><</button>
          <button class="btnProximo btn rounded-circle"  type="submit" (click)="botaoSeguir()">></button>
        </div>
      </div>
    </form>
  </div>
  <app-notificacao-form class="notificacao" [notificacao]="notificacao"></app-notificacao-form>
</div>
