$dark-blue: #00195A;
$white: #ffff;
$ciano: #56D4FC;

@media screen and (min-width:1025px) {

  body {
    background-color: $ciano;

    .idPaciente {
      background-color: $dark-blue;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 60vw;
      height: 75vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .nomeParamedico, .crmCorenDrf {
        font-size: 18px;

        & input {
          width: 15em;
          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;

        .btnAssinarEnviar {
          border-radius: 20px;
        }
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 481px) {
  body {
    background-color: $ciano;

    .idPaciente {
      background-color: $dark-blue;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 70vw;
      height: 80vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .nomeParamedico, .crmCorenDrf {
        font-size: 18px;

        & input {
          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;

        .btnAssinarEnviar {
          border-radius: 20px;
        }
      }
    }
  }
}

@media (max-width: 480px) and (min-width: 0px) {
  body {
    background-color: $ciano;

    .idPaciente {
      background-color: $dark-blue;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 90vw;
      height: 90vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .nomeParamedico, .crmCorenDrf {
        font-size: 18px;

        & input {
          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;

        .btnAssinarEnviar {
          border-radius: 20px;
        }
      }
    }
  }
}
