<div class="main">
  <div class="dadosGeraisContainer d-flex flex-column align-items-center justify-content-center">
    <h3>Dados Gerais</h3>

    <div class="dadosGerais d-flex flex-column align-items-center">
      <div class="d-flex flex-column align-items-start">
        <!-- NOME DO PARAMÉDICO RESPONSÁVEL -->
        <div class="nomeParamedico d-flex flex-column mt-3 align-items-start">
          <label for="nomeParamedico">Nome do Paramédico Responsável</label>
          <p>{{ nomeParamedico }}</p>
        </div>

        <!-- DOCUMENTO DE TRABALHO -->
        <div class="docTrabalho d-flex flex-column mt-3 align-items-start">
          <label for="docTrabalho">Documento de Trabalho</label>
          <p>{{ documento_trabalho }}</p>
        </div>
      </div>

      <!-- DATA E ENDEREÇO -->
      <div class="dataEnd d-flex flex-column justify-content-end align-items-end mt-3">
        <p>{{ data | date: 'medium' }}</p>
        <p>{{ localizacao }}</p>
      </div>

      <!-- BOTÕES -->
      <div class="btns d-flex flex-row justify-content-around">
        <button class="btnAnterior btn rounded-circle" type="button" (click)="voltar()"><</button>
        <button
          class="btnFechar btn"
          type="button"
          (click)="fechar()">
          FECHAR
        </button>
      </div>
    </div>
  </div>
</div>
