$dark-red: #5c0505;
$white: #ffff;
$light-red: #b87676;

.btnProximo, .btnAnterior, .btnAssinarEnviar, .btnEnviar, .btnCancelar  {
  background-color: $light-red;
  border-style: none;
}

@media screen and (min-width:1025px) {

  body {

    border-radius: 20px;

    .dadosGerais {
      background-color: $dark-red;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 60vw;
      height: 75vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .nomeParamedico, .crmCorenDrf {
        font-size: 18px;

        & input {
          width: 15em;
          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;

        .btnAssinarEnviar, .btnEnviar, .btnCancelar {
          border-radius: 20px;
        }
      }

      .modal {
        background-color: $light-red;
        border-radius: 20px;
        width: 300px;
        height: 200px;

        & h3 {
          color: $dark-red;
        }

        .btns {
          gap: 20px;

          & button {
            color: $white;
            background-color: $dark-red;

            & :hover {
              color: $dark-red;
              background-color: $white;
            }

          }
        }
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 481px) {
  body {

    border-radius: 20px;

    .dadosGerais {
      background-color: $dark-red;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 70vw;
      height: 80vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .nomeParamedico, .crmCorenDrf {
        font-size: 18px;

        & input {
          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;

        .btnAssinarEnviar, .btnEnviar, .btnCancelar {
          border-radius: 20px;
        }
      }

      .modal {
        background-color: $light-red;
        border-radius: 20px;
        width: 300px;
        height: 200px;

        & h3 {
          color: $dark-red;
        }

        .btns {
          gap: 20px;

          & button {
            color: $white;
            background-color: $dark-red;

            & :hover {
              color: $dark-red;
              background-color: $white;
            }
          }
        }
      }
    }

  }
}

@media (max-width: 480px) and (min-width: 0px) {
  body {

    border-radius: 20px;

    .dadosGerais {
      background-color: $dark-red;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 90vw;
      height: 90vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .nomeParamedico, .crmCorenDrf {
        font-size: 18px;

        & input {
          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;

        .btnAssinarEnviar, .btnEnviar, .btnCancelar {
          border-radius: 20px;
        }
      }

      .modal {
        background-color: $light-red;
        border-radius: 20px;
        width: 300px;
        height: 200px;

        & h3 {
          color: $dark-red;
        }

        .btns {
          gap: 20px;
          & button {
            color: $white;
            background-color: $dark-red;

            & :hover {
              color: $dark-red;
              background-color: $white;
            }

          }
        }
      }
    }

  }
}
