
<div class="editarPerfilContainer d-flex flex-column align-items-center">
  <!-- HEADER -->
  <div class="headerGeral d-flex flex-column align-items-center justify-content-between">
    <div class="nav d-flex flex-row justify-content-between">
      <h2>Bem vinda(o), {{ nome }}!</h2>
      <div class="botoesHeader d-flex flex-row justify-content-end">
        <a (click)="home()"><img class="logo" src="../../../assets/images/home.png" alt="Perfil"></a>
        <a (click)="logout()"><img class="exit" src="../../../assets/images/sair.png" alt="Sair"></a>
      </div>
    </div>
  </div>

  <div class="editarPerfilForms">
    <!-- TITULO FORM -->
    <div class="titulo d-flex justify-content-center m-2">
      <h2>{{string}}</h2>
    </div>

    <!-- FORMULÁRIO -->
    <div class="editarPerfilInfosContainer d-flex flex-column align-items-center align-content-center justify-content-center">
      <div class="d-flex flex-column align-items-start">
        <form
          class="editarPerfilForm d-flex flex-column align-items-center"
          #editarPerfil="ngForm"
          (ngSubmit)="salvar()">

          <!-- NOME -->
          <div class="d-flex flex-column">
            <label for="nome">Nome</label>
            <input ngModel type="text"  id="nome" name="nome_completo" [(ngModel)]="usuario.nome_completo" placeholder="Digite seu nome completo">
          </div>

            <!-- ÁREA ATUAÇÃO -->
          <div class="d-flex flex-column">
            <label>Área de Atuação</label>
            <select id="campo_escolha" class="minimal" [(ngModel)]="usuario.campo_escolha" name="campo_escolha" (change)="onAreaChange(getArea($event))">
              <option value="CRM">Médico(a)</option>
              <option value="COREN">Enfermeiro(a)</option>
              <option value="DRF">Paramédico(a)</option>
            </select>
          </div>

          <!-- Documento de Trabalho -->
          <div class="d-flex flex-column">
            <label for="doc">Documento de Trabalho</label>
            <input type="text"  id="doc" name="documento_trabalho" [(ngModel)]="usuario.documento_trabalho" placeholder="Informe seu documento de trabalho">
          </div>

          <!-- CPF -->
          <div class="d-flex flex-column">
            <label for="cpf">CPF</label>
            <input type="text"  id="cpf" name="cpf" [(ngModel)]="usuario.cpf" readonly disabled placeholder="Informe seu CPF">
          </div>

          <!-- UNIDADE DE ATENDIMENTO -->
          <div class="d-flex flex-column">
            <label for="unidadeAtendimento">Unidade de Atendimento</label>
            <input ngModel type="text"  id="unidadeAtendimento" name="unidade_de_atendimento" [(ngModel)]="usuario.unidade_de_atendimento" placeholder="Qual sua unidade de atendimento?">
          </div>

          <!-- CELULAR -->
          <div class="d-flex flex-column">
            <label for="celular">Celular</label>
            <input ngModel type="tel"  id="celular" name="celular" [(ngModel)]="usuario.celular" placeholder="Informe seu celular">
          </div>

          <!-- SENHA -->
          <div class="senha d-flex flex-column">
            <label for="senha">Senha</label>
            <div class="d-flex flex-row align-items-center justify-content-end">
              <input
                #pass
                name="senha"
                type="password"
                id="senha"
                class="input"
                placeholder="Digite sua senha"
                [(ngModel)]="password">
              <app-mostrar-senha [pass]="pass"></app-mostrar-senha>
            </div>
          </div>

          <!-- BOTÕES -->
          <div class="btns d-flex flex-row justify-content-around">
            <button class="btnAnterior btn btn-primary rounded-circle" type="button" (click)="voltar()"><</button>
            <button type="submit" class="btn btnSalvar">SALVAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-notification [mensagem]="notificacao.texto" [classe]="notificacao.classe"></app-notification>
<app-footer></app-footer>
