
<div class="editarPerfilContainer d-flex flex-column align-items-center justify-content-center">
  <!-- HEADER -->
  <div class="headerGeral d-flex flex-column align-items-center justify-content-between">
    <div class="nav d-flex flex-row justify-content-between">
      <h2>Bem vinda(o), {{ perfil?.nome_completo }}!</h2>
      <div class="botoesHeader d-flex flex-row justify-content-end">
        <a routerLink="/home"><img class="logo" src="../../../assets/images/home.png" alt="Perfil"></a>
        <a routerLink="/login"><img class="exit" src="../../../assets/images/sair.png" alt="Sair"></a>
      </div>
    </div>

    <!-- TITULO FORM -->
    <div class="titulo d-flex justify-content-center m-2">
      <h2>{{string}}</h2>
    </div>
  </div>

  <!-- FORMULÁRIO -->
  <div class="editarPerfilInfosContainer d-flex flex-column align-items-center align-content-center justify-content-center">
    <div class="d-flex flex-column align-items-start">
      <form class="editarPerfilForm" #editarPerfil="ngForm" (ngSubmit)="salvar()">
        <!-- NOME -->
        <div class="d-flex flex-column">
          <label for="nome">Nome</label>
          <input type="text"  id="nome" name="nome" value={{perfil?.nome_completo}}>
        </div>

        <!-- ÁREA ATUAÇÃO -->
        <div class="d-flex flex-column">
          <label>Área de Atuação</label>
          <select class="minimal" name="seletor">
            <option value="atu">{{ usuario.funcao }}</option>
            <option value="par">Paramédico(a)</option>
          </select>
        </div>

        <!-- CRM/COREN/DRF -->
        <div class="d-flex flex-column">
          <label for="doc">CRM\COREN\DRF</label>
          <input type="text"  id="doc" name="doc" value={{usuario.docmentro_trabalho}}>
        </div>

        <!-- CPF -->
        <div class="d-flex flex-column">
          <label for="cpf">CPF</label>
          <input type="text"  id="cpf" name="cpf" value={{usuario.cpf}}>
        </div>

        <!-- UNIDADE DE ATENDIMENTO -->
        <div class="d-flex flex-column">
          <label for="unidadeAtendimento">Unidade de Atendimento</label>
          <input type="text"  id="unidadeAtendimento" name="unidadeAtendimento" value={{usuario.unidade_atendimento}}>
        </div>

        <!-- CELULAR -->
        <div class="d-flex flex-column">
          <label for="celular">Celular</label>
          <input type="tel"  id="celular" name="celular" value={{usuario.celular}}>
        </div>

        <!-- BOTÕES -->
        <div class="btns">
          <button type="submit" class="btn btnSalvar">SALVAR</button>
        </div>
      </form>
    </div>
  </div>
</div>
