$font-family_1: 'Sarala', sans-serif;
$white: #ffffff;
$dark-red: #5c0505;
$light-red: #b87676;

.cabecalho {

  height: 28vh;

  .logo {
    width: 46%;
    padding: 1rem 1.5rem;

    & img {
      width: 80%;
      max-width: 350px;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }

    & p {
      font-size: 1rem;
    }
  }

  .cabecalho-menu {
    display: flex;
    gap: 32px;

    .cabecalho-menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 11.5em;
      height: 3.5em;
      font-family: $font-family_1;
      color: $white;
      font-size: 18px;
      cursor: pointer;
      background-color: $dark-red;
      border-radius: 20px;
      text-decoration: none;

      &:hover {
        color: $dark-red;
        background-color: $light-red;
        transition: 0.5s ease;
      }
    }
  }
}



@media (max-width: 576px) {
  .cabecalho {
    .logo {
      padding: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .cabecalho {
    .logo {
      width: 90%;
    }

    .imagem {
      display: none;
    }
  }
}
