
<div class="perfilContainer d-flex flex-column align-items-center justify-content-center">
  <!-- HEADER -->
  <div class="headerGeral d-flex flex-column align-items-center justify-content-around">
    <div class="nav d-flex flex-row justify-content-between">
      <h2>Bem vinda(o), {{ usuario.nome }}!</h2>
      <div class="botoesHeader d-flex flex-row justify-content-end">
        <a routerLink="/home"><img class="logo" src="../../../assets/images/home.png" alt="Perfil"></a>
        <a routerLink="/login"><img class="exit" src="../../../assets/images/sair.png" alt="Sair"></a>
      </div>
    </div>

    <!-- CABEÇALHO FORM -->
    <div class="cabecalho d-flex justify-content-center">
      <h2>{{string}}</h2>
    </div>
  </div>

  <!-- INFOS -->
  <div class="perfilInfosContainer d-flex flex-column align-items-center align-content-center justify-content-center">
    <div class="d-flex flex-column align-items-start">
      <!-- NOME COMPLETO -->
      <div class="nomeCompleto d-flex flex-column">
        <label for="nome">Nome Completo</label>
        <p id="nome" name="nome">{{ nomeCompleto }}</p>
      </div>

      <!-- ÁREA DE ATUAÇÃO -->
      <div class="sexo d-flex flex-column">
        <label>Área de Atuação</label>
        <p>{{ areaAtuacao }}</p>
      </div>

      <!-- CRM/COREN/DRF -->
      <div class="crmCorenDrf d-flex flex-column">
        <label for="doc">CRM/COREN/DRF</label>
        <p type="text" id="doc" name="doc">{{ crmCorenDrf }}</p>
      </div>

      <!-- CPF -->
      <div class="cpf d-flex flex-column">
        <label for="cpf">CPF</label>
        <p type="text" id="cpf" name="cpf">{{ cpf }}</p>
      </div>

      <!-- UNIDADE ATENDIMENTO -->
      <div class="unidadeAtendimento d-flex flex-column">
        <label for="unidadeAtendimento">Unidade de Atendimento</label>
        <p type="text" id="unidadeAtendimento" name="unidadeAtendimento">{{ unidadeAtendimento }}</p>
      </div>

      <!-- CELULAR -->
      <div class="celular d-flex flex-column">
        <label for="celular">Celular</label>
        <p type="tel" id="celular" name="celular">{{ celular }}</p>
      </div>
    </div>

    <!-- BOTOES -->
    <div class="btns">
      <button (click)="editar()" class="btnEditar">Editar Perfil</button>
    </div>
  </div>
</div>
