$color_1: #5c0505;
$color_2: #b83838;
$background-color_1: #ffd6d6;
$white: #ffff;
$pink: #b87676;
$vinho: #680909;


.perfilContainer {
  background: url(/assets/images/background.png);
  background-size: cover;
  min-height: 55vh;
  width: 100vw;
  padding: 2rem 1rem;

  .headerGeral {
    width: 100vw;

    .nav {
      gap: 10px 450px;

      .botoesHeader {
        gap: 20px;

        .logo {
          max-width: 40px;
          max-height: 40px;
        }

        .exit {
          max-width: 35px;
          max-height: 35px;
        }
      }
    }

    .cabecalho {
      margin-left: 10px;
      margin-top: 20px;
    }
  }

  .perfilInfosContainer {
    width: 60vw;
    height: 85vh;
    background: $pink;
    border-radius: 20px;
    border: none;
    padding: 1rem;

    .nomeCompleto, .sexo, .crmCorenDrf, .cpf, .unidadeAtendimento, .celular {
      width: 18em;

      & label {
        color: $vinho;
        font-weight: bold;
        font-size: 18px;
      }

      & p {
        color: $white;
        font-size: 18px;
        border: none;
        border-radius: 20px;
        height: 30px;
      }
    }

    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      .btnEditar {
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 20px;
        background-color: $color_1;
        color: $white;
        font-weight: bold;

        &:hover {
          background-color: $white;
          color:  $color_1;
        }
      }
    }
  }
}

