
<div class="perfilContainer d-flex flex-column align-items-center">
  <!-- HEADER -->
  <div class="headerGeral d-flex flex-column align-items-center justify-content-around">
    <div class="nav d-flex flex-row justify-content-between">
      <h2>Bem vinda(o), {{ nome }}!</h2>
      <div class="botoesHeader d-flex flex-row justify-content-end">
        <a (click)="home()"><img class="logo" src="../../../assets/images/home.png" alt="Perfil"></a>
        <a routerLink="/login"><img class="exit" src="../../../assets/images/sair.png" alt="Sair"></a>
      </div>
    </div>
  </div>

  <div class="perfilInfos">
    <!-- CABEÇALHO FORM -->
    <div class="cabecalho d-flex justify-content-center">
      <h2>{{string}}</h2>
    </div>

    <!-- INFOS -->
    <div class="perfilInfosContainer d-flex flex-column align-items-center align-content-center justify-content-center" >

      <div class="d-flex flex-column align-items-start">
        <!-- NOME COMPLETO -->
        <div class="nomeCompleto d-flex flex-column">
          <label for="nome">Nome Completo</label>
          <p id="nome" name="nome">{{ nome_completo }}</p>
        </div>

        <!-- ÁREA DE ATUAÇÃO -->
        <div class="areaAtuacao d-flex flex-column">
          <label>Área de Atuação</label>
          <p>{{ campo_escolha }}</p>
        </div>

        <!-- Documento de Trabalho -->
        <div class="docTrabalho d-flex flex-column">
          <label for="doc">Documento de Trabalho</label>
          <p type="text" id="doc" name="doc">{{ documento_trabalho }}</p>
        </div>

        <!-- CPF -->
        <div class="cpf d-flex flex-column">
          <label for="cpf">CPF</label>
          <p type="text" id="cpf" name="cpf">{{ cpf }}</p>
        </div>

        <!-- UNIDADE ATENDIMENTO -->
        <div class="unidadeAtendimento d-flex flex-column">
          <label for="unidadeAtendimento">Unidade de Atendimento</label>
          <p type="text" id="unidadeAtendimento" name="unidadeAtendimento">{{ unidade_de_atendimento }}</p>
        </div>

        <!-- CELULAR -->
        <div class="celular d-flex flex-column">
          <label for="celular">Celular</label>
          <p type="tel" id="celular" name="celular">{{ celular }}</p>
        </div>
      </div>

      <!-- BOTOES -->
      <div class="btns">
        <button (click)="editar()" class="btnEditar">EDITAR PERFIL</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
