$dark-red: #5c0505;
$white: #ffff;
$light-red: #b87676;

.btnProximo, .btnAnterior {
  background-color: $dark-red;
  color: $white;
  border-style: none;
  border-radius: 20px;

  &:hover {
    background-color: $white;
    color: $dark-red;
    font-weight: bold;
  }
}

.btnAnterior, .btnProximo {
  width: 50px;
  height: 50px;
}

@media screen and (min-width:1025px) {

  .main {
    border-radius: 20px;

    .dadosAtendimento {
      background-color: $light-red;
      color: $dark-red;
      border-radius: 20px;
      font-weight: bold;

      //Spacing
      width: 30vw;
      height: 55vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & h3 {
        font-weight: bold;
      }

      .smallFields {
        width: 30vw;
        align-items: center;

        .pressao, .oxigenacao, .temperatura, .frequenciaRitmica {
          width: 9.5em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }
      }

      .btns {
        width: 27.5vw;
        font-size: 18px;
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 481px) {

  .main {

    border-radius: 20px;

    .dadosAtendimento {
      background-color: $light-red;
      color: $dark-red;
      border-radius: 20px;
      font-weight: bold;

      //Spacing
      width: 75vw;
      height: 55vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & h3 {
        font-weight: bold;
      }

      .smallFields {
        width: 30vw;
        align-items: center;

        .pressao, .oxigenacao, .temperatura, .frequenciaRitmica {
          width: 9.5em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }
      }

      .btns {
        width: 27.5vw;
        font-size: 18px;
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 480px) and (min-width: 0px) {

  .main {

    border-radius: 20px;

    .dadosAtendimento {
      background-color: $light-red;
      color: $dark-red;
      border-radius: 20px;
      font-weight: bold;

      //Spacing
      width: 90vw;
      height: 75vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      & h3 {
        font-weight: bold;
      }

      .smallFields {
        width: 30vw;
        align-items: center;

        .pressao, .oxigenacao, .temperatura, .frequenciaRitmica {
          width: 8.8em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }
      }

      .btns {
        width: 27.5vw;
        font-size: 18px;
        margin-top: 40px;
      }
    }
  }
}
