$dark-red: #5c0505;
$white: #ffff;
$light-red: #b87676;
//  #ffd6d6;

@media screen and (min-width:1025px) {
  .ficha {
    position: absolute;
    background-color: $light-red;
    color: $dark-red;
    width: 100vw;
    height: auto;
  }

  .fotoPerfil {
    background-color: $white;
    color: $dark-red;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .fichas {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1024px) and (min-width: 481px) {
  .ficha {
    background-color: $light-red;
    color: $dark-red;
    width: 100vw;
    height: auto;
  }

  .fotoPerfil {
    background-color: $white;
    color: $dark-red;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }

  .fichas {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 480px) and (min-width: 0px)  {
  .ficha {
    background-color: $light-red;
    color: $dark-red;
    width: 100vw;
    height: auto;
  }

  .fotoPerfil {
    background-color: $white;
    color: $dark-red;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }

  .fichas {
    box-sizing: border-box;
  }
}
