@import '../../assets/variables';

.fichaContent {
  margin-bottom: 1em;
  min-height: 100%;
  width: 100vw;
  height: fit-content;
  margin-bottom: 5em;
}

.header {
  padding: 1em;

  p {
    color: $dark-red;
    font-weight: bold;
    text-align: center;
  }

  .fotoPerfil {
    background-color: $white;
    color: $dark-red;
    border-radius: 100%;
    padding: 1em;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width:1025px) {
  .ficha {
    position: absolute;
    top: 0;
    background: url(/assets/images/background.png);
    background-size: cover;
    min-height: 100%;
    width: 100vw;
    height: fit-content;
    margin-bottom: 5em;

    .fichaContent {
      .header {
        p {
          font-size: 2rem;
        }
      }
    }

    .footer {
      background-color: $white;
      background-repeat: no-repeat;
      width: 100%;
      height: fit-content;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 481px) {
  .ficha {
    position: absolute;
    top: 0;
    background: url(/assets/images/background.png);
    background-size: cover;
    min-height: 100%;
    width: 100vw;
    height: fit-content;
    margin-bottom: 5em;

    .fichaContent {
      .header {
        p {
          font-size: 2rem;
        }
      }
    }

    .footer {
      background-color: $white;
      background-repeat: no-repeat;
      width: 100%;
      height: fit-content;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: 480px) and (min-width: 0px)  {
  .ficha {
    position: absolute;
    top: 0;
    background: url(/assets/images/background.png);
    background-size: cover;
    min-height: 100%;
    width: 100vw;
    height: fit-content;
    margin-bottom: 5em;

    .fichaContent {
      .header {
        margin: 2em 0;
        
        p {
          font-size: 2rem;
        }
      }
    }

    .footer {
      margin-top: 5em;
      background-color: $white;
      width: 100%;
      height: fit-content;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
