<app-header [ids]="['login', 'cadastro']" [signOptions]="['FAZER LOGIN', 'CRIAR CADASTRO']" [signPaths]="['/login', '/cadastro']"></app-header>

<div class="infosContainer d-flex flex-column align-items-center justify-content-center">
  <!-- TITULO -->
  <div class="titulo d-flex justify-content-center">
    <h2>Sobre</h2>
  </div>

  <!-- INFOS -->
  <div class="maisInfosContainer d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-start">
      <div class="d-flex flex-column align-items-start">
        <!-- SITE -->
        <div class="site d-flex flex-column">
          <p>Para saber mais busque por:</p>
          <a id="site">www.maisInfos.com</a>
        </div>
        <!-- CONTATO -->
        <div class="telefone d-flex flex-column mt-4">
          <p>Ou entre em contato por:</p>
          <a id="contato">(22)91234-5678</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
