<div class="main">
  <!-- INFOS -->
  <div class="idPacienteContainer d-flex flex-column align-items-center justify-content-center">
    <h3>Identificação do Paciente</h3>

    <div class="idPaciente d-flex flex-column align-items-center">
      <div class="d-flex flex-column align-items-start">
        <!-- NOME COMPLETO -->
        <div class="nomeCompleto d-flex flex-column mt-2">
          <label for="nomeCompleto">Nome Completo</label>
          <p>{{ nomeCompleto }}</p>
        </div>

        <!-- CPF -->
        <div class="cpf d-flex flex-column">
          <label for="cpf">CPF</label>
          <p>{{ cpf }}</p>
        </div>

        <!-- CELULAR -->
        <div class="celular d-flex flex-column">
          <label for="celular">Celular</label>
          <p>{{ celular }}</p>
        </div>
      </div>

      <!-- BOTÕES -->
      <div class="btns d-flex flex-row justify-content-around">
        <button class="btnVoltar btn btn-primary" type="button" (click)="voltar()">CANCELAR E VOLTAR</button>
        <button class="btnProximo btn btn-primary rounded-circle" type="button" (click)="seguir()">></button>
      </div>
    </div>
  </div>
</div>
