<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="identificacao-paciente.component.scss" media="(max-width: 600px)"> -->
  <title>Identificação do Paciente</title>
</head>
<body>
  <form class="idPaciente d-flex flex-column justify-content-center align-content-center align-items-center">
    <h4>Identificação do Paciente</h4>

    <div class="nomeCompleto d-flex flex-column mt-5">
      <label for="nomeCompleto">Nome Completo</label>
      <input name="nomeCompleto" type="text">
    </div>
    <div class="cpf d-flex flex-column mt-5">
      <label for="cpf">CPF</label>
      <input name="cpf" type="text">
    </div>
    <div class="celular d-flex flex-column mt-5">
      <label for="celular">Celular</label>
      <input name="celular" type="text">
    </div>
    <div class="mt-5">
      <button class="btn">Próximo</button>
    </div>
  </form>
</body>
</html>
