<div class="main">
  <!-- INFOS -->
  <div *ngIf="tipoAcao == 'identificacao-paciente'; else edit" class="idPacienteContainer d-flex flex-column align-items-center justify-content-center align-content-center">
    <h3>Identificação do Paciente</h3>

    <div class="idPaciente d-flex flex-column align-items-center">
      <div class="d-flex flex-column align-items-start">
        <!-- NOME COMPLETO -->
        <div class="nomeCompleto d-flex flex-column mt-2">
          <label for="nomeCompleto">Nome Completo</label>
          <p>{{ nomeCompleto }}</p>
        </div>

        <!-- CPF -->
        <div class="cpf d-flex flex-column">
          <label for="cpf">CPF</label>
          <p>{{ cpf }}</p>
        </div>

        <!-- CELULAR -->
        <div class="celular d-flex flex-column">
          <label for="celular">Celular</label>
          <p>{{ celular }}</p>
        </div>
      </div>

      <!-- BOTÕES -->
      <div class="btns d-flex flex-row justify-content-around">
        <button class="btnVoltar btn" type="button" (click)="voltar()">VOLTAR</button>
        <button class="btnProximo btn rounded-circle" type="button" (click)="seguir()">></button>
      </div>
    </div>
  </div>

  <ng-template #edit>
    <app-identificacao-paciente-form
      [nomeCompleto]="nomeCompleto"
      [cpf_paciente]="cpf"
      [celular_paciente]="celular"
    >
    </app-identificacao-paciente-form>
  </ng-template>
</div>
