$dark-blue: #00195A;
$white: #ffff;

@media screen and (min-width:1025px) {

  .idPaciente {
    background-color: $dark-blue;
    color: $white;
    border-radius: 20px;

    //Spacing
    width: 60vw;
    height: 85vh;
    margin-top: 3em;
    padding: 3em;

    //Position
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    .nomeCompleto, .cpf, .celular {
      font-size: 18px;

      & input {
        width: 15em;
        border-radius: 20px;
      }
    }

    .btns {
      font-size: 18px;
      column-gap: 8em;
    }
  }
}

@media (max-width: 1024px) and (min-width: 481px) {
  .idPaciente {
    background-color: $dark-blue;
    color: $white;
    border-radius: 20px;

    //Spacing
    width: 75vw;
    height: 85vh;
    margin-top: 3em;
    padding: 3em;

    //Position
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    .nomeCompleto, .cpf, .celular {
      font-size: 18px;

      & input {
        border-radius: 20px;
      }
    }

    .btns {
      font-size: 18px;
      column-gap: 8em;
    }
  }
}

@media (max-width: 480px) and (min-width: 0px) {
  .idPaciente {
    background-color: $dark-blue;
    color: $white;
    border-radius: 20px;

    //Spacing
    width: 90vw;
    height: 80vh;
    margin-top: 3em;
    padding: 3em;

    //Position
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    .nomeCompleto, .cpf, .celular {
      font-size: 18px;

      & input {
        border-radius: 20px;
      }
    }

    .btns {
      font-size: 18px;
      column-gap: 8em;
    }
  }
}
