$color_1: #680909;
$background-color_1: white;
$background-color_2: #5c0505;
$border-color_1: #680909;

.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.main {
	background: url(/assets/images/background.png);
	background-size: cover;
	min-height: 65vh;
}
select {
	background-color: $background-color_1;
	border: none;
	border-radius: 15px;
	display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
	cursor: pointer;
	margin-bottom: 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select.minimal {
	background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
	&:focus {
		background-image: linear-gradient(45deg, #680909 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #680909 50%), linear-gradient(to right, #ccc, #ccc);
		background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
		background-size: 5px 5px, 5px 5px, 1px 1.5em;
		background-repeat: no-repeat;
		border-color: $border-color_1;
		outline: 0;
	}
}
.botao {
	margin-top: 10px;
	width: 200px;
	border: none;
  padding: 1rem;
	&:hover {
		background-color: $background-color_2;
	}
}
.cadastro {
	padding: 2rem 0;
	form {
		background: #b87676;
		border: none;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		label {
			color: $color_1;
			font-weight: bold;
			margin: 0 0 0.5rem;
		}
		.input {
			border: none;
			height: 30px;
			padding: 1rem 2rem;
			border-radius: 20px;
			margin: 0.5rem 0 1rem;
		}
	}

  .criarCadastro {
    width: 50vw;
    height: 110vh;
  }
}
