<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="identificacao-paciente.component.scss" media="(max-width: 600px)"> -->
  <title>Dados para Atendimento</title>
</head>
<body>
  <form class="dadosAtendimento d-flex flex-column justify-content-center align-content-center align-items-center">
    <h4>Dados para Atendimento</h4>

    <div class="idade d-flex flex-column mt-2">
      <label for="idade">Idade:</label>
      <input name="idade" type="text">
    </div>
    <div class="tipoSangue d-flex flex-column mt-2">
      <label for="tipoSangue">Tipo sanguíneo:</label>
      <input name="tipoSangue" type="text">
    </div>
    <div class="sexo d-flex flex-row mt-2">
      <fieldset class="sexo d-flex flex-row mt-2">
        <legend>Sexo:</legend>

        <div class="ml-2">
          <input type="checkbox" id="f" name="f" value="f" checked>
          <label for="f">F</label>
        </div>

        <div class="ml-2">
          <input type="checkbox" id="m" name="m" value="m">
          <label for="m">M</label>
        </div>

        <div class="ml-2">
          <input type="checkbox" id="o" name="o" value="o">
          <label for="o">O</label>
        </div>
    </fieldset>
    </div>
    <div class="alergias d-flex flex-column mt-2">
      <label for="alergias">Alergias:</label>
      <input name="alergias" type="text">
    </div>
    <div class="medicacoesUsadas d-flex flex-column mt-2">
      <label for="medicacoesUsadas">Medicações Utilizadas:</label>
      <textarea></textarea>
    </div>
    <div class="historicoDoencas d-flex flex-column mt-2">
      <label for="historicoDoencas">Histórico de Doenças:</label>
      <textarea></textarea>
    </div>
    <div class="mt-2">
      <button class="btn">Próximo</button>
    </div>
  </form>
</body>
</html>
