<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados para Atendimento</title>
</head>
<body>
  <form
    #dadosAtendimento="ngForm"
    class="dadosAtendimento d-flex flex-column justify-content-center align-content-center align-items-center"
    (ngSubmit)="seguir()">
    <h3>Dados para Atendimento</h3>

    <div class="d-flex flex-column align-items-center">
      <div class="smallFieldsContainer d-flex flex-column">
        <div class="smallFields d-flex flex-row justify-content-around">
          <!-- IDADE -->
          <div class="idade d-flex flex-column mt-2">
            <label for="idade">Idade</label>
            <input class="form-control" name="idade" type="text" [(ngModel)]="idade">
          </div>

          <!-- TIPO SANGUÍNEO -->
          <div class="tipoSangue d-flex flex-column align-itens-center mt-2">
            <label for="tipoSangue">Tipo sanguíneo</label>
            <input class="form-control" name="tipoSangue" type="text" [(ngModel)]="tipoSangue">
          </div>

          <!-- SEXO -->
          <div class="sexo d-flex flex-column">
            <label>Sexo</label>

            <div class="opcoes d-flex flex-row ml-3">
              <div class="ml-2 d-flex flex-column">
                <label for="f">F</label>
                <input type="radio" id="f" name="opcao" value="f" (change)="onSexChange()" [(ngModel)]="sexo" checked>
              </div>

              <div class="ml-2 d-flex flex-column">
                <label for="m">M</label>
                <input type="radio" id="m" name="opcao" (change)="onSexChange()" [(ngModel)]="sexo"  value="m">
              </div>

              <div class="ml-2 d-flex flex-column">
                <label for="o">O</label>
                <input type="radio" id="o" name="opcao" (change)="onSexChange()" [(ngModel)]="sexo" value="o">
              </div>
            </div>
          </div>
        </div>

        <!-- OBSERVAÇÃO -->
        <div class="mt-2 d-flex justify-content-end">
          <p>Obs. 'O' significa outro</p>
        </div>
      </div>

      <!-- ALERGIAS -->
      <div class="alergias d-flex flex-column mt-2">
        <label for="alergias">Alergias</label>
        <textarea class="form-control" name="alergias" type="text" [(ngModel)]="alergias" rows="30" cols="120"></textarea>
      </div>

      <!-- MEDICAÇÕES -->
      <div class="medicacoesUsadas d-flex flex-column mt-2">
        <label for="medicacoesUsadas">Medicações Utilizadas</label>
        <textarea class="form-control" name="medicacoesUsadas" [(ngModel)]="medicacoesUsadas" rows="30" cols="120"></textarea>
      </div>

      <!-- HISTÓRICO DE DOENÇAS -->
      <div class="historicoDoencas d-flex flex-column mt-2">
        <label for="historicoDoencas">Histórico de Doenças</label>
        <textarea class="form-control" name="historicoDoencas" [(ngModel)]="historicoDoencas" rows="30" cols="120"></textarea>
      </div>

      <!-- BOTÕES -->
      <div class="btns d-flex flex-row justify-content-between">
        <button class="btnAnterior btn btn-primary rounded-circle" type="button" (click)="voltar()"><</button>
        <button class="btnProximo btn btn-primary rounded-circle" type="submit">></button>
      </div>
    </div>
  </form>
</body>
</html>
