<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados para Atendimento</title>
</head>
<body>
  <div class="dadosAtendimentoContainer d-flex flex-column align-items-center justify-content-center">
    <h3>Dados para Atendimento</h3>

    <div class="dadosAtendimento d-flex flex-column align-items-center">
      <div class="d-flex flex-column align-items-start">
        <!-- IDADE -->
        <div class="idade d-flex flex-column mt-2">
          <label for="idade">Idade</label>
          <p>{{ idade }}</p>
        </div>

        <!-- TIPO SANGUÍNEO -->
        <div class="tipoSangue d-flex flex-column align-itens-center mt-2">
          <label for="tipoSangue">Tipo sanguíneo</label>
          <p>{{ tipoSangue }}</p>
        </div>

        <!-- SEXO -->
        <div class="sexo d-flex flex-column">
          <label>Sexo</label>
          <p>{{ sexo }}</p>
        </div>

        <!-- ALERGIAS -->
        <div class="alergias d-flex flex-column mt-2">
          <label for="alergias">Alergias</label>
          <p>{{ alergias }}</p>
        </div>

        <!-- MEDICAÇÕES -->
        <div class="medicacoesUsadas d-flex flex-column mt-2">
          <label for="medicacoesUsadas">Medicações Utilizadas</label>
          <p>{{ medicacoesUsadas }}</p>
        </div>

        <!-- HISTÓRICO DE DOENÇAS -->
        <div class="historicoDoencas d-flex flex-column mt-2">
          <label for="historicoDoencas">Histórico de Doenças</label>
          <p>{{ historicoDoencas }}</p>
        </div>
      </div>

      <!-- BOTÕES -->
      <div class="btns d-flex flex-row justify-content-between">
        <button class="btnAnterior btn rounded-circle" type="button" (click)="voltar()"><</button>
        <button class="btnProximo btn rounded-circle" type="button" (click)="seguir()">></button>
      </div>
    </div>
  </div>
</body>
</html>
