.btnProximo, .btnAnterior {
  background-color: #5c0505;
  color: white;
  border-style: none;
  border-radius: 20px;
}
.btnProximo:hover, .btnAnterior:hover {
  background-color: white;
  color: #5c0505;
  font-weight: bold;
}

.btnAnterior, .btnProximo {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1025px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosAtendimentoContainer {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    font-weight: bold;
    width: 35vw;
    height: 80vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento h3 {
    font-weight: bold;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento .idade label, .main .dadosAtendimentoContainer .dadosAtendimento .tipoSangue label, .main .dadosAtendimentoContainer .dadosAtendimento .sexo label, .main .dadosAtendimentoContainer .dadosAtendimento .alergias label, .main .dadosAtendimentoContainer .dadosAtendimento .medicacoesUsadas label, .main .dadosAtendimentoContainer .dadosAtendimento .historicoDoencas label {
    font-size: 20px;
    font-weight: bold;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento .idade p, .main .dadosAtendimentoContainer .dadosAtendimento .tipoSangue p, .main .dadosAtendimentoContainer .dadosAtendimento .sexo p, .main .dadosAtendimentoContainer .dadosAtendimento .alergias p, .main .dadosAtendimentoContainer .dadosAtendimento .medicacoesUsadas p, .main .dadosAtendimentoContainer .dadosAtendimento .historicoDoencas p {
    font-size: 18px;
    color: black;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento .btns {
    width: 27.5vw;
    font-size: 18px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 481px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosAtendimentoContainer {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    font-weight: bold;
    width: 65vw;
    height: 85vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento h3 {
    font-weight: bold;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento .idade label, .main .dadosAtendimentoContainer .dadosAtendimento .tipoSangue label, .main .dadosAtendimentoContainer .dadosAtendimento .sexo label, .main .dadosAtendimentoContainer .dadosAtendimento .alergias label, .main .dadosAtendimentoContainer .dadosAtendimento .medicacoesUsadas label, .main .dadosAtendimentoContainer .dadosAtendimento .historicoDoencas label {
    font-size: 20px;
    font-weight: bold;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento .idade p, .main .dadosAtendimentoContainer .dadosAtendimento .tipoSangue p, .main .dadosAtendimentoContainer .dadosAtendimento .sexo p, .main .dadosAtendimentoContainer .dadosAtendimento .alergias p, .main .dadosAtendimentoContainer .dadosAtendimento .medicacoesUsadas p, .main .dadosAtendimentoContainer .dadosAtendimento .historicoDoencas p {
    font-size: 18px;
    color: black;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento .btns {
    width: 27.5vw;
    font-size: 18px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 480px) and (min-width: 0px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosAtendimentoContainer {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    font-weight: bold;
    width: 95vw;
    height: 100vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento h3 {
    font-weight: bold;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento .idade label, .main .dadosAtendimentoContainer .dadosAtendimento .tipoSangue label, .main .dadosAtendimentoContainer .dadosAtendimento .sexo label, .main .dadosAtendimentoContainer .dadosAtendimento .alergias label, .main .dadosAtendimentoContainer .dadosAtendimento .medicacoesUsadas label, .main .dadosAtendimentoContainer .dadosAtendimento .historicoDoencas label {
    font-size: 20px;
    font-weight: bold;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento .idade p, .main .dadosAtendimentoContainer .dadosAtendimento .tipoSangue p, .main .dadosAtendimentoContainer .dadosAtendimento .sexo p, .main .dadosAtendimentoContainer .dadosAtendimento .alergias p, .main .dadosAtendimentoContainer .dadosAtendimento .medicacoesUsadas p, .main .dadosAtendimentoContainer .dadosAtendimento .historicoDoencas p {
    font-size: 18px;
    color: black;
  }
  .main .dadosAtendimentoContainer .dadosAtendimento .btns {
    width: 27.5vw;
    font-size: 18px;
    margin-top: 40px;
  }
}/*# sourceMappingURL=dados-atendimento.component.css.map */