$dark-red: #5c0505;
$white: #ffff;
$light-red: #b87676;
// #ffd6d6;

.btnProximo {
  background-color: $light-red;
  border-style: none;
}

.btnAnterior{
  background-color: $light-red;
  border-style: none;
}

@media screen and (min-width:1025px) {

  body {
    background-color: $light-red;

    .dadosAtendimento {
      background-color: $dark-red;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 55vw;
      height: 85vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .smallFields {

        align-items: center;

        .idade {
          width: 4em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

        .tipoSangue {
          width: 7.5em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

        .sexo {
          margin-bottom: 1.25em;
          align-items: center;

          & label {
            font-size: 18px;
          }

          & div {
            height: 0.5em;

            & div {
              & label {
                font-size: 15px;
                margin-bottom: 0px;
              }
            }
          }
        }
      }

      .alergias , .medicacoesUsadas, .historicoDoencas {
        font-size: 18px;

        & textarea {
          width: 15em;
          height: 4.5em;

          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;
      }
    }
  }

}

@media screen and (max-width: 1024px) and (min-width: 481px) {
  body {
    background-color: $light-red;

    .dadosAtendimento {
      background-color: $dark-red;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 65vw;
      height: 85vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .smallFields {

        align-items: center;

        .idade {
          width: 4em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

        .tipoSangue {
          width: 7.5em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

        .sexo {
          margin-bottom: 1.25em;
          align-items: center;

          & label {
            font-size: 18px;
          }

          & div {
            height: 0.5em;

            & div {
              & label {
                font-size: 15px;
                margin-bottom: 0px;
              }
            }
          }
        }
      }

      .alergias , .medicacoesUsadas, .historicoDoencas {
        font-size: 18px;

        & textarea {
          width: 12em;
          height: 4.5em;

          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 480px) and (min-width: 0px) {

  body {
    background-color: $light-red;

    .dadosAtendimento {
      background-color: $dark-red;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 95vw;
      height: 100vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .smallFields {

        align-items: center;

        .idade {
          width: 4em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

        .tipoSangue {
          width: 7.5em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

        .sexo {
          margin-bottom: 1.25em;
          align-items: center;

          & label {
            font-size: 18px;
          }

          & div {
            height: 0.5em;

            & div {
              & label {
                font-size: 15px;
                margin-bottom: 0px;
              }
            }
          }
        }
      }

      .alergias , .medicacoesUsadas, .historicoDoencas {
        font-size: 18px;

        & textarea {
          width: 12em;
          height: 4.5em;

          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;
      }
    }
  }
}
