<main>
    <section class="container login ff-inter">
        <header class="header">
            <a routerLink="/home" class="cabecalho-menu-item">Voltar</a>
            <h2>{{string}}</h2>
        </header>
        <form>
            <label for="nome">Nome</label>
            <input type="text" class="input" id="nome" name="nome" value={{usuario.nome}}>

            <select class="minimal" name="seletor">
                <option value="atu" selected>{{usuario.funcao}}</option>
                <option value="med">Equipe Médica</option>
                <option value="par">Paramédico(a)</option>
            </select>

            <label for="doc">CRM\COREN\DRF</label>
            <input type="text" class="input" id="doc" name="doc" value={{usuario.docmentro_trabalho}}>

            <label for="cpf">CPF</label>
            <input type="text" class="input" id="cpf" name="cpf" value={{usuario.cpf}}>

            <label for="unidadeAtendimento">Unidade de Atendimento</label>
            <input type="text" class="input" id="unidadeAtendimento" name="unidadeAtendimento"
                value={{usuario.unidade_atendimento}}>

            <label for="celular">Celular</label>
            <input type="tel" class="input" id="celular" name="celular" value={{usuario.celular}}>

            <div class="acoes">
                <button (click)="salvar()" class="botao">Salvar</button>
            </div>


        </form>
    </section>

</main>