@import '../../assets/variables';

.fichaContent {
  margin-bottom: 1em;
  min-height: 89vh;
  width: 100vw;
  height: fit-content;
}

.header {
  padding: 1em;

  p {
    color: $dark-red;
    font-weight: bold;
    text-align: center;
  }

  .fotoPerfil {
    background-color: $white;
    color: $dark-red;
    border-radius: 100%;
    padding: 1em;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width:1025px) {
  .ficha {
    position: absolute;
    top: 0;
    background: url(/assets/images/background.png);
    background-size: cover;
    min-height: 90vh;
    width: 100vw;
    height: fit-content;

    .header {
      p {
        font-size: 2rem;
      }
    }

    .footer {
      background-color: $white;
      width: 100vw;
      background-repeat: no-repeat;
      height: fit-content;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 481px) {
  .ficha {
    top: 0;
    background: url(/assets/images/background.png);
    background-size: cover;
    min-height: 90vh;
    width: 103vw;
    height: fit-content;

    .fichaContent {
      min-height: 92vh;

      .header {
        p {
          font-size: 2rem;
        }
      }
    }

    .footer {
      background-color: $white;
      width: 103vw;
      background-repeat: no-repeat;
      height: fit-content;
    }
  }
}

@media screen and (max-width: 480px) and (min-width: 0px)  {
  .ficha {
    top: 0;
    background: url(/assets/images/background.png);
    background-size: cover;
    min-height: 90vh;
    width: 100vw;
    height: fit-content;

    .header {
      margin: 2em 0;

      p {
        font-size: 1.80rem;
      }
    }

    .footer {
      background-color: $white;
      width: 100vw;
      height: fit-content;
    }
  }
}
