@import '../../../assets/variables';

.btnProximo, .btnAnterior {
  background-color: $dark-red;
  color: $white;
  border-style: none;
  border-radius: 20px;

  &:hover {
    background-color: $white;
    color: $dark-red;
    font-weight: bold;
  }
}

.btnAnterior, .btnProximo {
  width: 50px;
  height: 50px;
}

.dadosAtendimentoContainer {
  background-color: $light-red;
  color: $dark-red;
  border-radius: 20px;

  //Spacing
  max-width: 350px;
  width: fit-content;
  height: fit-content;
  margin: 3em 1em 1em 1em;
  padding: 2em;

  .btns {
    width: fit-content;
    font-size: 18px;
    margin-top: 20px;
    gap: 80px;
  }
}

@media screen and (min-width:1024px) {
  .main {
    border-radius: 20px;

    .dadosAtendimentoContainer {
      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .dadosAtendimento {
        .nivelDor, .prioridade, .sintomas, .observacoes {
          & label {
            margin-bottom: 3px;
            font-size: 20px;
            font-weight: bold;
          }

          & p {
            font-size: 18px;
            color: $black;
          }
        }
      }
    }
  }
}

@media screen and (min-width:1024px) and (max-height: 700px) {
  .main {
    border-radius: 20px;

    .dadosAtendimentoContainer {
      & h3 {
        font-weight: bold;
        text-align: center;
        width: 12em;
      }

      .dadosAtendimento {
        .nivelDor, .prioridade, .sintomas, .observacoes {
          & label {
            margin-bottom: 3px;
            font-size: 20px;
            font-weight: bold;
          }

          & p {
            font-size: 18px;
            color: $black;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) and (min-width: 481px) {
  .main {
    border-radius: 20px;

    .dadosAtendimentoContainer {
      & h3 {
        font-weight: bold;
        text-align: center;
        width: 12em;
      }

      .dadosAtendimento {
        .nivelDor, .prioridade, .sintomas, .observacoes {
          & label {
            margin-bottom: 3px;
            font-size: 20px;
            font-weight: bold;
          }

          & p {
            font-size: 18px;
            color: $black;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) and (min-width: 481px) and (max-height: 1023px) and (min-height: 0px) {
  .main {
    border-radius: 20px;

    .dadosAtendimentoContainer {
      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .dadosAtendimento {
        .nivelDor, .prioridade, .sintomas, .observacoes {
          & label {
            margin-bottom: 3px;
            font-size: 20px;
            font-weight: bold;
          }

          & p {
            font-size: 18px;
            color: $black;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 801px) and (max-height: 1023px) and (min-height: 0px) {
  .main {
    border-radius: 20px;

    .dadosAtendimentoContainer {
      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .dadosAtendimento {
        .nivelDor, .prioridade, .sintomas, .observacoes {
          & label {
            margin-bottom: 3px;
            font-size: 20px;
            font-weight: bold;
          }

          & p {
            font-size: 18px;
            color: $black;
          }
        }
      }
    }
  }
}


@media (max-width: 480px) and (min-width: 0px) {
  .main {
    border-radius: 20px;

    .dadosAtendimentoContainer {
      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .dadosAtendimento {
        .nivelDor, .prioridade, .sintomas, .observacoes {
          & label {
            margin-bottom: 3px;
            font-size: 20px;
            font-weight: bold;
          }

          & p {
            font-size: 18px;
            color: $black;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) and (min-width: 0px) and (max-height: 740px) and (min-height: 0px) {
  .main {
    border-radius: 20px;

    .dadosAtendimentoContainer {
      & h3 {
        font-weight: bold;
        text-align: center;
      }

      .dadosAtendimento {
        .nivelDor, .prioridade, .sintomas, .observacoes {
          & label {
            margin-bottom: 3px;
            font-size: 20px;
            font-weight: bold;
          }

          & p {
            font-size: 18px;
            color: $black;
          }
        }
      }
    }
  }
}
