$dark-red: #5c0505;
$white: #ffff;
$light-red: #b87676;
// #ffd6d6;

.btnProximo {
  background-color: $light-red;
  border-style: none;
}

.btnAnterior {
  background-color: $light-red;
  border-style: none;
}

@media screen and (min-width:1025px) {

  body {

    border-radius: 20px;

    .dadosAtendimento {
      background-color: $dark-red;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 50vw;
      height: 75vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .smallFields {

        align-items: center;

        .nivelDor {
          width: 7.5em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

        .prioridade {
          width: 7.5em;
          font-size: 18px;
          align-items: center;

          & p {
            font-size: 18px;
          }

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

      }

      .sintomas, .observacoes {
        font-size: 18px;

        & textarea {
          width: 15em;
          height: 4.5em;

          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 481px) {

  body {

    border-radius: 20px;

    .dadosAtendimento {
      background-color: $dark-red;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 65vw;
      height: 80vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .smallFields {

        align-items: center;

        .nivelDor {
          width: 7.5em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

        .prioridade {
          width: 7.5em;
          font-size: 18px;
          align-items: center;

          & p {
            font-size: 18px;
          }

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

      }

      .sintomas, .observacoes {
        font-size: 18px;

        & textarea {
          width: 15em;
          height: 4.5em;

          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 480px) and (min-width: 0px) {

  body {

    border-radius: 20px;

    .dadosAtendimento {
      background-color: $dark-red;
      color: $white;
      border-radius: 20px;

      //Spacing
      width: 90vw;
      height: 100vh;
      margin-top: 3em;
      padding: 3em;

      //Position
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      .smallFields {

        align-items: center;

        .nivelDor {
          width: 7.5em;
          font-size: 18px;
          align-items: center;

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

        .prioridade {
          width: 7.5em;
          font-size: 18px;
          align-items: center;

          & p {
            font-size: 18px;
          }

          & input {
            width: 4em;
            border-radius: 20px;
          }
        }

      }

      .sintomas, .observacoes {
        font-size: 18px;

        & textarea {
          width: 15em;
          height: 4.5em;

          border-radius: 20px;
        }
      }

      .btns {
        font-size: 18px;
        column-gap: 8em;
        margin-top: 40px;
      }
    }
  }
}
