$dark-red: #5c0505;
$white: #ffff;
$light-red: #b87676;
$black: black;

$font-family_1: 'Sarala', sans-serif;
//  #ffd6d6;

// INPUTS, TEXTAREAS, SMALL INPUTS, ETC
//@media screen and (min-width:1024px)
$input-width-1: 24vw;
$input-height-1: 5vh;
$text-area-width-1: 25vw;
$text-area-height-1: 7.5vh;

//@media screen and (min-width:1024px) and (max-height: 700px)
$input-width-2: 25vw;
$input-height-2: 5vh;
$text-area-width-2: 25vw;
$text-area-height-2: 12vh;

//@media screen and (max-width: 1023px) and (min-width: 481px)
$input-width-3: 45vw;
$input-height-3: 3.5vh;
$text-area-width-3: 45vw;
$text-area-height-3: 9vh;

//@media screen and (max-width: 800px) and (min-width: 481px) and (max-height: 1023px) and (min-height: 0px)
$input-width-4: 40vw;
$input-height-4: 4vh;
$text-area-width-4: 55vw;
$text-area-height-4: 9.5vh;

//@media screen and (max-width: 1023px) and (min-width: 801px) and (max-height: 1023px) and (min-height: 0px)
$input-width-5: 55vw;
$input-height-5: 4.5vh;
$text-area-width-5: 40vw;
$text-area-height-5: 9vh;

//@media (max-width: 480px) and (min-width: 0px)
$input-width-6: 80vw;
$input-height-6: 4.5vh;
$text-area-width-6: 80vw;
$text-area-height-6: 9vh;

//@media screen and (max-width: 480px) and (min-width: 0px) and (max-height: 740px) and (min-height: 0px)
$input-width-7: 80vw;
$input-height-7: 5vh;
$text-area-width-7: 80vw;
$text-area-height-7: 9.5vh;

