.btnProximo, .btnAnterior {
  background-color: #5c0505;
  color: white;
  border-style: none;
  border-radius: 20px;
}
.btnProximo:hover, .btnAnterior:hover {
  background-color: white;
  color: #5c0505;
  font-weight: bold;
}

.btnAnterior, .btnProximo {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1025px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosAtendimento {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    font-weight: bold;
    width: 35vw;
    height: 80vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosAtendimento h3 {
    font-weight: bold;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields {
    width: 27.5vw;
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .idade {
    width: 4em;
    font-size: 18px;
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .idade input {
    width: 4em;
    border-radius: 20px;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .tipoSangue {
    width: 7.5em;
    font-size: 18px;
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .tipoSangue input {
    width: 4em;
    border-radius: 20px;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo {
    margin-bottom: 1.25em;
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo label {
    font-size: 18px;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo div {
    height: 0.5em;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo div div label {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .main .dadosAtendimento .alergias, .main .dadosAtendimento .medicacoesUsadas, .main .dadosAtendimento .historicoDoencas {
    font-size: 18px;
  }
  .main .dadosAtendimento .alergias textarea, .main .dadosAtendimento .medicacoesUsadas textarea, .main .dadosAtendimento .historicoDoencas textarea {
    width: 27.5vw;
    height: 7vh;
    border-radius: 20px;
  }
  .main .dadosAtendimento .btns {
    width: 27.5vw;
    font-size: 18px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 481px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosAtendimento {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    font-weight: bold;
    width: 65vw;
    height: 85vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosAtendimento h3 {
    font-weight: bold;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields {
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .idade {
    width: 4em;
    font-size: 18px;
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .idade input {
    width: 4em;
    border-radius: 20px;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .tipoSangue {
    width: 7.5em;
    font-size: 18px;
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .tipoSangue input {
    width: 4em;
    border-radius: 20px;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo {
    margin-bottom: 1.25em;
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo label {
    font-size: 18px;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo div {
    height: 0.5em;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo div div label {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .main .dadosAtendimento .alergias, .main .dadosAtendimento .medicacoesUsadas, .main .dadosAtendimento .historicoDoencas {
    font-size: 18px;
  }
  .main .dadosAtendimento .alergias textarea, .main .dadosAtendimento .medicacoesUsadas textarea, .main .dadosAtendimento .historicoDoencas textarea {
    width: 40vw;
    height: 7vh;
    border-radius: 20px;
  }
  .main .dadosAtendimento .btns {
    width: 27.5vw;
    font-size: 18px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 480px) and (min-width: 0px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosAtendimento {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    font-weight: bold;
    width: 95vw;
    height: 100vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosAtendimento h3 {
    font-weight: bold;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields {
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .idade {
    width: 4em;
    font-size: 18px;
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .idade input {
    width: 4em;
    border-radius: 20px;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .tipoSangue {
    width: 7.5em;
    font-size: 18px;
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .tipoSangue input {
    width: 4em;
    border-radius: 20px;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo {
    margin-bottom: 1.25em;
    align-items: center;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo label {
    font-size: 18px;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo div {
    height: 0.5em;
  }
  .main .dadosAtendimento .smallFieldsContainer .smallFields .sexo div div label {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .main .dadosAtendimento .alergias, .main .dadosAtendimento .medicacoesUsadas, .main .dadosAtendimento .historicoDoencas {
    font-size: 18px;
  }
  .main .dadosAtendimento .alergias textarea, .main .dadosAtendimento .medicacoesUsadas textarea, .main .dadosAtendimento .historicoDoencas textarea {
    width: 40vw;
    height: 7vh;
    border-radius: 20px;
  }
  .main .dadosAtendimento .btns {
    width: 27.5vw;
    font-size: 18px;
    margin-top: 40px;
  }
}/*# sourceMappingURL=dados-atendimento-form.component.css.map */