<div class="container d-flex flex-column align-items-center align-content-center justify-content-between">
  <div class="main d-flex flex-column align-items-center align-content-center justify-content-between">
    <form
      #dadosAtendimento="ngForm"
      class="dadosAtendimento d-flex flex-column justify-content-center align-content-center align-items-center"
      (ngSubmit)="onSubmit(dadosAtendimento)">
      <h3>Dados para Atendimento</h3>
      <div class="d-flex flex-column align-items-center">
        <div class="smallFieldsContainer d-flex flex-column">
          <div class="smallFields d-flex flex-row justify-content-between">
            <!-- IDADE -->
            <div class="idade d-flex flex-column mt-2">
              <label for="idade">Idade</label>
              <input
                class="form-control"
                name="idade"
                type="number"
                id="idade"
                [(ngModel)]="idade"
                placeholder="xx"
                min="0">
            </div>
  
            <!-- TIPO SANGUÍNEO -->
            <div class="tipoSangue d-flex flex-column align-itens-center mt-2">
              <label for="tipoSangue">Tipo sanguíneo</label>
              <input
                class="form-control"
                name="tipoSangue"
                type="text"
                id="tipoSangue"
                [(ngModel)]="tipoSangue"
                placeholder="x+/x-">
            </div>
  
            <!-- SEXO -->
            <div class="sexo d-flex flex-column align-items-center">
              <label>Sexo</label>
  
              <div class="opcoes d-flex flex-row">
                <div class="d-flex flex-column align-items-center">
                  <label for="f">F</label>
                  <input type="radio" id="F" name="sexo" value="F" [(ngModel)]="sexo" (change)="onSexChange()">
                </div>
  
                <div class="d-flex flex-column align-items-center">
                  <label for="m">M</label>
                  <input type="radio" id="M" name="sexo" value="M" [(ngModel)]="sexo" (change)="onSexChange()">
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- ALERGIAS -->
        <div class="alergias d-flex flex-column mt-2">
          <label for="alergias">Alergias</label>
          <textarea class="form-control" name="alergias" type="text" id="alergias" [(ngModel)]="alergias" rows="30" cols="120" placeholder="Digite as alergias conhecidas"></textarea>
        </div>
  
        <!-- MEDICAÇÕES -->
        <div class="medicacoesUsadas d-flex flex-column mt-2">
          <label for="medicacoesUsadas">Medicações Utilizadas</label>
          <textarea class="form-control" name="medicacoesUsadas" id="medicacoesUsadas" [(ngModel)]="medicacoesUsadas" rows="30" cols="120" placeholder="Digite as medicações que foram utilizadas"></textarea>
        </div>
  
        <!-- HISTÓRICO DE DOENÇAS -->
        <div class="historicoDoencas d-flex flex-column mt-2">
          <label for="historicoDoencas">Histórico de Doenças</label>
          <textarea class="form-control" name="historicoDoencas" id="historicoDoencas" [(ngModel)]="historicoDoencas" rows="30" cols="120" placeholder="Digite o histórico resumido de doenças"></textarea>
        </div>
  
        <!-- BOTÕES -->
        <div class="btns d-flex flex-row justify-content-around">
          <button class="btnAnterior btn rounded-circle" type="submit" (click)="botaoVoltar()"><</button>
          <button class="btnProximo btn rounded-circle"  type="submit" (click)="botaoSeguir()">></button>
        </div>
      </div>
    </form>
  </div>
  <app-notificacao-form class="notificacao" [notificacao]="notificacao"></app-notificacao-form>
</div>
