<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados Vitais do Paciente</title>
</head>
<body>
  <form
    #dadosVitais="ngForm"
    class="dadosAtendimento d-flex flex-column justify-content-center align-content-center align-items-center"
    (ngSubmit)="seguir()">
    <h4>Dados Vitais do Paciente</h4>

    <div class="smallFields d-flex flex-column align-items-center">
      <div class="d-flex flex-row align-items-center justify-content-around align-content-center">
        <!-- PRESSÃO SANGUÍNEA -->
        <div class="pressao d-flex flex-column mt-2 ml-5">
          <label for="pressao">Pressão Sanguínea:</label>
          <input class="form-control" name="pressao" type="text" [(ngModel)]="pressao">
        </div>

        <!-- OXIGENAÇÃO -->
        <div class="oxigenacao d-flex flex-column mt-2 mr-5">
          <label for="oxigenacao">Oxigenação:</label>
          <input class="form-control" name="oxigenacao" type="text" [(ngModel)]="oxigenacao">
        </div>
      </div>

      <div class="d-flex flex-row align-items-center justify-content-center align-content-center">
        <!-- TEMPERATURA -->
        <div class="temperatura d-flex flex-column mt-2 ml-5">
          <label for="temperatura">Temperatura:</label>
          <input class="form-control" name="temperatura" type="text" [(ngModel)]="temperatura">
        </div>

        <!-- FREQUÊNCIA RITMÍCA -->
        <div class="frequenciaRitmica d-flex flex-column mt-2 mr-5">
          <label for="frequenciaRitmica">Frequência Ritmíca:</label>
          <input class="form-control" name="frequenciaRitmica" type="text" [(ngModel)]="frequenciaRitmica">
        </div>
      </div>

      <!-- BOTÕES -->
      <div class="btns d-flex flex-row justify-content-between">
        <button class="btnAnterior btn btn-primary rounded-circle" type="button" (click)="voltar()"><</button>
        <button class="btnProximo btn btn-primary rounded-circle" type="submit">></button>
      </div>
    </div>
  </form>
</body>
</html>
