
<div class="main">
  <div class="dadosAtendimento d-flex flex-column justify-content-center align-content-center align-items-center">
    <h3>Dados Vitais do Paciente</h3>

    <div class="smallFields d-flex flex-column align-items-center">
      <div class="smallField1 d-flex flex-row justify-content-around align-content-center">
        <!-- PRESSÃO SANGUÍNEA -->
        <div class="pressao d-flex flex-column mt-2">
          <label for="pressao">Pressão Sanguínea</label>
          <p>{{ pressao }} mmHg</p>
        </div>

        <!-- OXIGENAÇÃO -->
        <div class="oxigenacao d-flex flex-column mt-2">
          <label for="oxigenacao">Oxigenação</label>
          <p>{{ oxigenacao }} %</p>
        </div>
      </div>

      <div class="smallField2 d-flex flex-row justify-content-center align-content-center">
        <!-- TEMPERATURA -->
        <div class="temperatura d-flex flex-column mt-2">
          <label for="temperatura">Temperatura</label>
          <p>{{ temperatura }} °C</p>
        </div>

        <!-- FREQUÊNCIA RITMÍCA -->
        <div class="frequenciaRitmica d-flex flex-column mt-2">
          <label for="frequenciaRitmica">Frequência Ritmíca</label>
          <p>{{ frequenciaRitmica }} ppm</p>
        </div>
      </div>

      <!-- BOTÕES -->
      <div class="btns d-flex flex-row justify-content-around">
        <button class="btnAnterior btn rounded-circle" type="button" (click)="voltar()"><</button>
        <button class="btnProximo btn rounded-circle" type="button" (click)="seguir()">></button>
      </div>
    </div>
  </div>
</div>
