.btnProximo, .btnAnterior {
  background-color: #5c0505;
  color: white;
  border-style: none;
  border-radius: 20px;
}
.btnProximo:hover, .btnAnterior:hover {
  background-color: white;
  color: #5c0505;
  font-weight: bold;
}

.btnAnterior, .btnProximo {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 1025px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosAtendimento {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    width: 35vw;
    height: 80vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosAtendimento h3 {
    font-weight: bold;
  }
  .main .dadosAtendimento .smallFields {
    width: 30vw;
    align-items: center;
  }
  .main .dadosAtendimento .smallFields .pressao, .main .dadosAtendimento .smallFields .oxigenacao, .main .dadosAtendimento .smallFields .temperatura, .main .dadosAtendimento .smallFields .frequenciaRitmica {
    align-items: center;
    width: 12em;
  }
  .main .dadosAtendimento .smallFields .pressao label, .main .dadosAtendimento .smallFields .oxigenacao label, .main .dadosAtendimento .smallFields .temperatura label, .main .dadosAtendimento .smallFields .frequenciaRitmica label {
    font-size: 20px;
    font-weight: bold;
  }
  .main .dadosAtendimento .smallFields .pressao p, .main .dadosAtendimento .smallFields .oxigenacao p, .main .dadosAtendimento .smallFields .temperatura p, .main .dadosAtendimento .smallFields .frequenciaRitmica p {
    font-size: 18px;
    color: black;
  }
  .main .dadosAtendimento .btns {
    width: 27.5vw;
    font-size: 18px;
    margin-top: 40px;
  }
}
@media (max-width: 1024px) and (min-width: 481px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosAtendimento {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    width: 75vw;
    height: 55vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosAtendimento h3 {
    font-weight: bold;
  }
  .main .dadosAtendimento .smallFields {
    width: 30vw;
    align-items: center;
  }
  .main .dadosAtendimento .smallFields .pressao, .main .dadosAtendimento .smallFields .oxigenacao, .main .dadosAtendimento .smallFields .temperatura, .main .dadosAtendimento .smallFields .frequenciaRitmica {
    align-items: center;
    width: 11.5em;
  }
  .main .dadosAtendimento .smallFields .pressao label, .main .dadosAtendimento .smallFields .oxigenacao label, .main .dadosAtendimento .smallFields .temperatura label, .main .dadosAtendimento .smallFields .frequenciaRitmica label {
    font-size: 20px;
    font-weight: bold;
  }
  .main .dadosAtendimento .smallFields .pressao p, .main .dadosAtendimento .smallFields .oxigenacao p, .main .dadosAtendimento .smallFields .temperatura p, .main .dadosAtendimento .smallFields .frequenciaRitmica p {
    font-size: 18px;
    color: black;
  }
  .main .dadosAtendimento .btns {
    width: 27.5vw;
    font-size: 18px;
    margin-top: 40px;
  }
}
@media (max-width: 480px) and (min-width: 0px) {
  .main {
    border-radius: 20px;
  }
  .main .dadosAtendimento {
    background-color: #b87676;
    color: #5c0505;
    border-radius: 20px;
    width: 90vw;
    height: 75vh;
    margin-top: 3em;
    padding: 3em;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main .dadosAtendimento h3 {
    font-weight: bold;
  }
  .main .dadosAtendimento .smallFields {
    width: 30vw;
    align-items: center;
  }
  .main .dadosAtendimento .smallFields .pressao, .main .dadosAtendimento .smallFields .oxigenacao, .main .dadosAtendimento .smallFields .temperatura, .main .dadosAtendimento .smallFields .frequenciaRitmica {
    align-items: center;
    width: 12em;
  }
  .main .dadosAtendimento .smallFields .pressao label, .main .dadosAtendimento .smallFields .oxigenacao label, .main .dadosAtendimento .smallFields .temperatura label, .main .dadosAtendimento .smallFields .frequenciaRitmica label {
    font-size: 20px;
    font-weight: bold;
  }
  .main .dadosAtendimento .smallFields .pressao p, .main .dadosAtendimento .smallFields .oxigenacao p, .main .dadosAtendimento .smallFields .temperatura p, .main .dadosAtendimento .smallFields .frequenciaRitmica p {
    font-size: 18px;
    color: black;
  }
  .main .dadosAtendimento .btns {
    width: 27.5vw;
    font-size: 18px;
    margin-top: 40px;
  }
}/*# sourceMappingURL=dados-vitais-paciente.component.css.map */