<app-header [ids]="['cadastro', 'mais-infos']" [signOptions]="['CRIAR CADASTRO', 'MAIS INFORMAÇÕES']" [signPaths]="['/cadastro', '/mais-infos']"></app-header>

<div class="loginContainer d-flex flex-column align-items-center justify-content-center">
  <!-- TITULO -->
  <div class="titulo d-flex justify-content-center m-2">
    <h2>{{ stringFacaLogin }}</h2>
  </div>

  <!-- FORMULÁRIO -->
  <div class="loginInfosContainer d-flex flex-column align-items-center align-content-center justify-content-center">
    <div class="d-flex flex-column align-items-start">
      <form
        #login="ngForm"
        class="loginForm d-flex flex-column align-items-center"
        (ngSubmit)="logar()">

        <!-- CPF -->
        <div class="d-flex flex-column">
          <label for="cpf">CPF</label>
          <input
            class="form-control"
            type="text"
            id="cpf"
            name="cpf"
            placeholder="Digite seu CPF"
            [(ngModel)]="cpf_usuario">
        </div>

        <!-- SENHA -->
        <div class="senha d-flex flex-column">
          <label for="senha">Senha</label>
          <div class="d-flex flex-row align-items-center justify-content-end">
            <input
              #pass
              class="form-control"
              type="password"
              id="senha"
              name="senha"
              placeholder="Digite sua senha"
              [(ngModel)]="password">
            <app-mostrar-senha [pass]="pass"></app-mostrar-senha>
          </div>
        </div>

        <!-- BOTÃO -->
        <div class="btns">
          <button type="submit" class="btn botao">ENTRAR</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-notification [mensagem]="notificacao.texto" [classe]="notificacao.classe"></app-notification>
<app-footer></app-footer>
