<main>
  <section class="container login ff-inter">
    <header class="header">
      <h2>{{ string }}</h2>
    </header>
    <form>
      <label for="cpf">CPF</label>
      <input type="text" class="input" id="cpf" name="cpf" placeholder="Digite seu CPF" [value]="usuario.cpf">

      <label for="senha">Senha</label>
      <input type="password" class="input" id="senha" name="senha" placeholder="Digite sua senha"
        [value]="usuario.senha">

      <div class="acoes">
        <button routerLink="/home" class="botao">ENTRAR</button>
      </div>
    </form>
  </section>
</main>
