<app-header></app-header>

<div class="loginContainer">
  <header class="header">
    <h2>{{ stringFacaLogin }}</h2>
  </header>
  <div class="d-flex flex-column align-items-center">
    <form class="login" (ngSubmit)="logar()">
      <div class="d-flex flex-column">
        <label for="cpf">CPF</label>
        <input
          class="form-control"
          type="text"
          id="cpf"
          name="cpf"
          placeholder="Digite seu CPF"
          [(ngModel)]="cpf">
      </div>

      <div class="d-flex flex-column">
        <label for="senha">Senha</label>
        <input
          class="form-control"
          type="password"
          id="senha"
          name="senha"
          placeholder="Digite sua senha"
          [(ngModel)]="senha">
      </div>

      <div class="acoes">
        <button type="submit" class="btn botao">ENTRAR</button>
      </div>
    </form>
  </div>
</div>
