$dark-red: #5c0505;
$light-red: #b87676;
$white: #ffff;

.loginContainer {
  background: url(/assets/images/background.png);
  background-size: cover;
  min-height: 55vh;
  padding: 2rem 0;

  .loginInfosContainer {

    .loginForm {
      width: 30vw;
      height: 35vh;
      background: $light-red;
      border: none;
      border-radius: 20px;
      padding: 1rem;

      & label {
        color: $dark-red;
        font-weight: bold;
        font-size: 18px;
        margin: 0 0 0.5rem;
      }

      & input {
        border: none;
        width: 27.5vw;
        height: 3vh;
        font-size: 18px;
        padding: 1rem 2rem;
        border-radius: 20px;
        margin: 0.5rem 0 1rem;
      }

      .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .botao {
          margin-top: 10px;
          width: 11.5em;
          height: 3.5em;
          border: none;
          padding: 1rem;
          background-color: $dark-red;
          color: $white;

          &:hover {
            background-color: $white;
            color: $dark-red;
            font-weight: bold;
          }
        }
      }
    }
  }
}

