$color_1: #680909;
$background-color_1: #5c0505;

.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

main {
  background: url(/assets/images/background.png);
  background-size: cover;
  min-height: 65vh;
}

.botao {
  margin-top: 10px;
  width: 200px;
  border: none;

  &:hover {
    background-color: $background-color_1;
  }
}

.login {
  padding: 2rem 0;

  form {
    background: #b87676;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    label {
      color: $color_1;
      font-weight: bold;
      margin: 0 0 0.5rem;
    }

    .input {
      border: none;
      height: 30px;
      padding: 1rem 2rem;
      border-radius: 20px;
      margin: 0.5rem 0 1rem;
    }
  }
}